*~
.DS_Store
.idea
.vscode
phploy
.env

.ddev/*
!.ddev/config.yaml
wp-config-ddev.php

node_modules/
/vendor/
/sql/
wp-content/themes/*
!wp-content/themes/template/

wp-content/plugins/akismet/

wp-content/advanced-cache.php
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/webp-express/
wp-content/wp-rocket-config/
wp-content/updraft
hot
wp-content/plugins
debug.log
wp-content/mu-plugins/*/
wp-content/smush-webp
wp-content/languages
.htaccess

xmlrpc.php
wp-trackback.php
wp-signup.php
wp-settings.php
wp-mail.php
wp-login.php
composer.lock
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-includes
wp-admin
/index.php


package-lock.json
wp-content/themes/template/resources/Public/ext/*.webmanifest
wordpress-muster.code-workspace
