<nav class="footer-nav footer-nav-meta">
	<ul class="list-unstyled footer-nav-list footer-nav-meta-list">
		{% for item in menu.footer_meta.items %}
			<li class="d-inline-block footer-nav-item footer-nav-meta-item {{ item.current ? 'active' }}">
				<a class="footer-nav-link footer-nav-meta-link link-hover-underlined" href="{{ item.link }}">
					{{ item.name }}
				</a>
			</li>
		{% endfor %}
	</ul>
</nav>
