{#
 # File: /wp-content/themes/template/views/elements/content/content.twig
 # Project: wordpress-starter
 # Version: 3.0.0
 # Created Date: Friday, March 15th 2024, 12:26:06
 # Author: Kirill Dorozhynskyi - kirilldy@justdev.org
 # -----
 # Last Modified: Friday, March 15th 2024 12:26:06
 # Modified By: Kirill Dorozhynskyi
 # -----
 # Copyright (c) 2024 justDev
 #}

<section>
	<div class="container">
		{% if ce.title %}
			<h2>
				{{ ce.title }}
			</h2>
		{% endif %}

		{% if ce.text %}
			<p>
				{{ ce.text }}
			</p>
		{% endif %}
	</div>
</section>
