//
// Info panel
//

.info-panel {
  position: fixed;
  bottom: $info-panel-position-bottom;
  left: $info-panel-position-left;
  right: $info-panel-position-right;
  top: $info-panel-position-top;

  max-width: $info-panel-max-width;
  max-height: $info-panel-max-height;
  padding: $info-panel-padding;
  overflow-y: auto;
  width: $info-panel-width;
  z-index: $zindex-popover;

  background: $info-panel-bg;
  box-shadow: $info-panel-box-shadow;
  color: $info-panel-color;
  font-size: $info-panel-font-size;

  @include media-breakpoint-down($mobile-breakpoint) {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: $info-panel-padding-mobile;
    overflow: auto;
    font-size: $info-panel-font-size-mobile;
  }

  &-notice {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    margin-top: .5rem;
    color: $primary;
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
    opacity: 0;
    visibility: hidden;
    transition: $transition-fade;

    &.show {
      opacity: 1;
      visibility: visible;
    }
  }

  &--unsupported-browser {
    display: block;
  }

  a {
    color: $info-panel-link-color;

    &:hover {
      color: $info-panel-link-color-hover;
    }
  }
}

.cookies-info-box {
  &-toggle-details {
    $toggle: &;
    position: relative;
    display: inline-flex;
    align-items: center;

    &:after {
      margin-left: $cookies-info-box-toggle-spacing;
      width: $cookies-info-box-toggle-size;
      height: $cookies-info-box-toggle-size;

      background: {
        image: $cookies-info-box-toggle-icon;
        size: $cookies-info-box-toggle-size;
        position: center;
        repeat: no-repeat;
      }
      content: '';
      transform: $cookies-info-box-toggle-opened-transform;
      transition: $cookies-info-box-toggle-transition;
    }

    &:hover {
      &:after {
        background-image: $cookies-info-box-toggle-icon-hover;
      }
    }

    &--closed {
      display: none;
    }

    &.collapsed {
      &:after {
        transform: $cookies-info-box-toggle-transform;
      }

      #{$toggle}--opened {
        display: none;
      }

      #{$toggle}--closed {
        display: inline;
      }
    }
  }

  $cookieBox: &;

  &-category {
    &:not(:last-child) {
      margin-bottom: 1.25rem;
    }
  }

  &-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-video-placeholder;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $cookies-info-box-overlay-bg;

    &-text {
      padding: $cookies-info-box-overlay-text-padding;
      background-color: $cookies-info-box-overlay-text-bg;
      transition: background-color $transition-base;

      &:hover {
        background-color: $cookies-info-box-overlay-text-hover-bg;
        cursor: pointer;
      }
    }
  }
}
