{% extends 'layouts/default.twig' %}

{% block content %}
	<section id="404">
		<div class="container">
			{% if options.page_not_found_text %}
				{{ options.page_not_found_text }}
			{% endif %}
		</div>
	</section>
{% endblock %}
