{% extends 'layouts/default.twig' %}

{% block content %}
	<section>
		<div class="container">
			<h1>
				{{ archive.name }}
			</h1>
			<p>
				{{ archive.description }}
			</p>
		</div>
	</section>
	{{ renderCE('flexible_content') }}
{% endblock %}
