{% extends 'layouts/default.twig' %}

{% block content %}
  <section id="search" class="search">
    <div class="container">
      <div class="row justify-content-center py-2 py-lg-4 ce-search-row">
        <div class="col-lg-10 ce-search-col">
          <h1>{{ page.name }}</h1>
          <search
            id="search"
            type="search"
            get-items-url="/wp-json/jdev/get-search-results"
            get-items-content-url="/wp-json/jdev/get-search-results-content"
            pagination-type="pagination"
            :items-per-page="3"
            initial-search-query="{{ searchQuery }}"
          >
            <template #search="component">
              <div class="mb-1 position-relative">
                <div class="form-floating">
                  <input
                    type="search"
                    id="search-form-input"
                    name="search"
                    placeholder="Ihr suchbegriff"
                    :value="component.searchQuery"
                    class="form-control"
                  >
                  <label for="search-form-input">{{ __("Your search term", "jdev") }}</label>
                </div>
                <button type="submit" class="btn btn-icon search-form-btn">
                  {% include 'icons/search.svg' %}
                  <span class="visually-hidden">Search</span>
                </button>
              </div>
            </template>
          </search>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
