//
// Responsive font size
// Provides static font size for specified and calculates adequate font size between two specified breakpoints
// Alternative to bootstrap's RFS
//

@use "sass:math";

@mixin font-size(
  $max-font-size,
  $min-font-size: false,
  $min-breakpoint: $rfs-breakpoint-min,
  $max-breakpoint: $rfs-breakpoint-max
) {
  @if $min-font-size {
    @include media-breakpoint-down($min-breakpoint) {
      font-size: $min-font-size;
    }
    @include media-breakpoint-between($min-breakpoint, $max-breakpoint) {
      $min-viewport-width: rem(map_get($grid-breakpoints, $min-breakpoint));
      $max-viewport-width: rem(map_get($grid-breakpoints, $max-breakpoint));
      $slope: math.div($min-font-size - $max-font-size, $min-viewport-width - $max-viewport-width);
      $base: $max-font-size - $slope * $max-viewport-width;
      font-size: calc(#{$base} + 100vw * #{$slope});
    }
    @include media-breakpoint-up($max-breakpoint) {
      font-size: $max-font-size;
    }
  } @else {
    font-size: $max-font-size;
  }
}
